RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-l


###############STEPS LINK################################

RewriteRule ^([^/]+)/?$ index.php?step=$1 [L,QSA]
